snikket.conf
docker-compose.override.yml
.env
*.pyc
__pycache__/
.venv/
venv/
.direnv/
web-portal/.env
backups/
deploy/migrate/docker-compose.migrate.yml
deploy/migrate/state.env
updater/updater
backup/backup
deploy/traefik/dynamic.yml
post-check.log
dns-backup-*
deploy/acme-dns/docker-compose.acme-dns.yml
