snikket.conf
docker-compose.override.yml
.env
*.pyc
__pycache__/
.venv/
venv/
.direnv/
web-portal/.env
backups/
deploy/migrate/docker-compose.migrate.yml
deploy/migrate/state.env
updater/updater
backup/backup
