server {
    listen ${SNIKKET_TWEAK_HTTPS_PORT} ssl;
    listen [::]:${SNIKKET_TWEAK_HTTPS_PORT} ssl;

    include "/etc/nginx/snippets/snikket-tls.conf";

    server_name ${SNIKKET_DOMAIN_ASCII};

    include "/etc/nginx/snippets/snikket-common.conf";
}

server {
    listen ${SNIKKET_TWEAK_HTTPS_PORT} ssl;
    listen [::]:${SNIKKET_TWEAK_HTTPS_PORT} ssl;

    include "/etc/nginx/snippets/snikket-tls.conf";

    server_name share.${SNIKKET_DOMAIN_ASCII};

    root /var/www/html;

    location / {
        return 301 https://${SNIKKET_DOMAIN_ASCII}/;
    }

    location /upload/ {
        include "/etc/nginx/snippets/snikket-upload.conf";
        proxy_pass http://${SNIKKET_TWEAK_INTERNAL_HTTP_HOST}:${SNIKKET_TWEAK_INTERNAL_HTTP_PORT};
        include "/etc/nginx/snippets/snikket-proxy-headers.conf";
    }
}

server {
    listen ${SNIKKET_TWEAK_HTTPS_PORT} ssl;
    listen [::]:${SNIKKET_TWEAK_HTTPS_PORT} ssl;

    include "/etc/nginx/snippets/snikket-tls.conf";

    server_name groups.${SNIKKET_DOMAIN_ASCII};

    root /var/www/html;

    location / {
        return 301 https://${SNIKKET_DOMAIN_ASCII}/;
    }
}

# Fail requests to unknown domains
server {
    listen ${SNIKKET_TWEAK_HTTPS_PORT} ssl default_server;
    listen [::]:${SNIKKET_TWEAK_HTTPS_PORT} ssl default_server;

    include "/etc/nginx/snippets/snikket-tls.conf";

    error_page 404 /_errors/404_site.html;

    location = /_errors/404_site.html {
        root /var/www/html;
        internal;
    }

    location / {
        try_files none =404;
    }
}
