root /var/www/html;

location / {
	try_files $uri /static/$uri @portal;
}

location /admin_api {
	try_files none @prosody;
}

location /invites_api {
	try_files none @prosody;
}

location /invites_bootstrap {
	try_files none @prosody;
}

location /share {
	alias /usr/share/javascript;
}

location /upload {
	include "/etc/nginx/snippets/snikket-upload.conf";
	try_files none @prosody;
}

location /chat {
	try_files none @prosody;
}

location /http-bind {
	try_files none @prosodyws;
}

location /xmpp-websocket {
	try_files none @prosodyws;
}

location = /.well-known/host-meta {
	try_files none @prosody;
}

location = /.well-known/host-meta.json {
	try_files none @prosody;
}

location @portal {
	proxy_pass http://${SNIKKET_TWEAK_PORTAL_INTERNAL_HTTP_HOST}:${SNIKKET_TWEAK_PORTAL_INTERNAL_HTTP_PORT};
	include "/etc/nginx/snippets/snikket-proxy-headers.conf";
}

location @prosody {
	proxy_pass http://${SNIKKET_TWEAK_INTERNAL_HTTP_HOST}:${SNIKKET_TWEAK_INTERNAL_HTTP_PORT};
	include "/etc/nginx/snippets/snikket-proxy-headers.conf";
}

location @prosodyws {
	proxy_pass http://${SNIKKET_TWEAK_INTERNAL_HTTP_HOST}:${SNIKKET_TWEAK_INTERNAL_HTTP_PORT};
	proxy_http_version 1.1;
	include "/etc/nginx/snippets/snikket-proxy-headers.conf";
	proxy_set_header Connection $http_connection;
	proxy_set_header Upgrade $http_upgrade;

	proxy_read_timeout 900s;
}

location /_health/portal {
	proxy_pass http://${SNIKKET_TWEAK_PORTAL_INTERNAL_HTTP_HOST}:${SNIKKET_TWEAK_PORTAL_INTERNAL_HTTP_PORT}/_health;
	include "/etc/nginx/snippets/snikket-proxy-headers.conf";
}

location /_health/xmpp {
	proxy_pass http://${SNIKKET_TWEAK_INTERNAL_HTTP_HOST}:${SNIKKET_TWEAK_INTERNAL_HTTP_PORT}/host_status_check;
	include "/etc/nginx/snippets/snikket-proxy-headers.conf";
}

error_page 502 /_errors/502.html;
error_page 503 /_errors/503.html;
error_page 504 /_errors/504.html;
